<template>
  <div class="<%= data.lowerName %>">
    <h1>{{ message }}</h1>
  </div>
</template>

<script>
  export default {
    name: '<%= data.name %>',
    props: {
    },
    components: {
    },
    mixins: [],
    data() {
      return {
        message: "<%= data.name %>"
      }
    },

    created() {

    },
    mounted() {

    },
    computed: {

    },
    methods: {

    }
  }
</script>

<style scoped>
  .<%=data.lowerName %> {}
</style>